<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
    <h3>Olá, {{ current_user.first_name }}!</h3>
    <p>Se você solicitou o cadastro de uma nova senha, clique <a href="{{ reset_password_url }}">aqui<a>.</p>
    <p>Este link expira em 2 horas. Caso não tenha feito a solicitação e prefira invalidá-lo imediatamente, clique <a href="{{ invalidate_token_url }}">aqui<a>.</p>
    <p>Se tiver dificuldade com os links acima, copie e cole um dos endereços abaixo no seu navegador:</p>
    <p>Para prosseguir com o cadastro da nova senha: {{ reset_password_url }}</p>
    <p>Para invalidar o token de alteração de senha: {{ invalidate_token_url }}</p>
    <p>Qualquer dúvida, responda a esse email para entrar em contato conosco.</p>
  </body>
</html>
