body {
  margin: 0;
}

.login-form {
  width: 15vw;
  border: 1px solid rgb(128,128,128);
  border-radius: 6px;
  margin: 20vh auto;
  min-width: 200px;
  text-align: center;
}

.login-form > * {
  display: block;
  margin: 12px auto 0px auto;
}

.login-form > input, .login-form > select {
  width:90%;
  box-sizing:border-box;
  display: inline-block;
}

.login-form > .registerLink, .loginLink {
  text-align: center;
}

.login-form > .error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
  padding: 0 12px;
}

.has-error {
  background: #fff0f0;
}

.validation-message-div {
  display: inline;
  font-size: x-small;
  position: absolute;
  padding: 2px;
  background: #fff0f0;
  color: red;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

@media print
{
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
    margin: 0 20px;
}

/* fix bad bootstrap styling */
.navbar-right {
  margin-right: 0!important;
}

.isa-info, .isa-success, .isa-warning, .isa-error {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 10px 0px;
  padding:12px;
}
.isa-info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa-error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.isa-info i, .isa-success i, .isa-warning i, .isa-error i {
  margin:10px 15px;
  font-size:2em;
  vertical-align:middle;
}

#answerForm label {
  display: inherit;
  margin-left: 1rem;
}

.form-buttons {
  text-align: center;
}
